@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}

H1 {
  font-size: 70px;
  font-weight: 700;
  width: 860px;
  margin: auto;
}

button {
  font-family: "Poppins", sans-serif;
}

.header {
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navbar__link {
  font-size: 20px;
  font-weight: 300;
  margin-right: 58px;
  color: black;
  text-decoration: none;
}
.header__navbar__buttonbar__button1 {
  font-weight: 600;
  font-size: 18px;
  width: 171px;
  height: 65px;
  border-radius: 46px;
  border: 1px solid #707070;
  margin-right: 20px;
}
.header__navbar__buttonbar__button2 {
  font-weight: 600;
  font-size: 18px;
  width: 171px;
  height: 65px;
  border-radius: 46px;
  color: white;
  border: 1px solid #707070;
  background-color: #323232;
}

.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage__hero {
  margin-top: 127px;
  position: relative;
}
.homepage__hero__textblock {
  width: 916px;
  height: 670.54px;
  position: relative;
}
.homepage__hero__textblock__img {
  position: absolute;
}
.homepage__hero__textblock__loremIpsum {
  font-size: 23px;
  font-weight: 400;
  opacity: 25%;
}
.homepage__hero__textblock__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 96.68px;
  margin-bottom: 40px;
}
.homepage__hero__textblock__form__text {
  font-size: 25px;
  font-weight: 600;
  padding-left: 95px;
  opacity: 55%;
  width: 500px;
  border-radius: 57px;
  border: double 3px transparent;
  background-image: linear-gradient(white, white), linear-gradient(#676ce6 0%, #d3a2ef 16.88%, #f3da33 60.26%, #f57059 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.homepage__hero__textblock__form__submit {
  font-size: 25px;
  font-weight: 600;
  width: 249px;
  border-radius: 57px;
  color: white;
  border: none;
  background: linear-gradient(#5930ef 0%, #8a6cfa 100%);
  box-shadow: 15px 15px 50px rgba(89, 48, 239, 0.05);
}
.homepage__hero__textblock__buttonbar {
  display: flex;
  flex-direction: row;
}
.homepage__hero__textblock__buttonbar__button {
  font-size: 17px;
  position: relative;
  width: 198px;
  height: 60px;
  margin-right: 25px;
  padding-left: 23px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #ececec;
}
.homepage__hero__textblock__buttonbar__button::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8A6CFA;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.homepage__hero__textblock__buttonbar__skipholder {
  width: 79px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
}
.homepage__hero__textblock__buttonbar__skipholder__skip {
  width: 54px;
  height: 60px;
  background-color: #1E1E1E;
  border: 1px solid #ECECEC;
  border-radius: 11px;
}
.homepage__hero__textblock__buttonbar__skipholder__skip__icon {
  color: white;
  height: 13px;
}
.homepage__hero__img {
  position: absolute;
  animation: wave 6s infinite linear;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=main.css.map */
