@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button, a, input {
  cursor: pointer;
}

button:hover {
  transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Poppins", sans-serif;
}

H1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  width: 860px;
  margin: auto;
}

H2 {
  font-size: 65px;
  font-weight: 700;
  color: white;
}

H3 {
  font-weight: 600;
  font-size: 57px;
  line-height: 68px;
}

h4 {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
  color: #000;
  margin: 0;
}

span {
  font-size: 25px;
  color: #000;
}

button {
  font-family: "Poppins", sans-serif;
}

.header {
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navbar__link {
  font-size: 20px;
  font-weight: 300;
  margin-right: 58px;
  color: black;
  text-decoration: none;
}
.header__navbar__buttonbar__button1 {
  font-weight: 600;
  font-size: 18px;
  width: 171px;
  height: 65px;
  border-radius: 46px;
  border: 1px solid #707070;
  margin-right: 20px;
}
.header__navbar__buttonbar__button2 {
  font-weight: 600;
  font-size: 18px;
  width: 171px;
  height: 65px;
  border-radius: 46px;
  color: white;
  border: 1px solid #707070;
  background-color: #323232;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 91.16px;
  margin-top: 149.5px;
}
.footer__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__navbar__link {
  font-weight: normal;
  font-size: 19px;
  text-align: left;
  text-decoration: none;
  color: #000;
  opacity: 0.82;
  margin-right: 50px;
}
.footer__copyright {
  font-weight: normal;
  font-size: 19px;
  text-align: left;
  color: rgba(0, 0, 0, 0.26);
}
.footer__socialbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 261px;
  height: 55px;
  border-radius: 26px;
  border: 1.5px solid rgba(0, 0, 0, 0.27);
}
.footer__socialbar__text {
  margin: 0 30px;
  font-weight: normal;
  font-size: 19px;
  line-height: 84px;
  text-align: left;
  color: #000;
  opacity: 0.82;
}
.footer__socialbar__social {
  display: flex;
  margin-right: 10px;
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 890px;
}
.slideshow__card {
  width: 394px;
  height: 417px;
  margin: 14px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}
.slideshow__card__img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow__card__text {
  width: 395px;
  height: 180px;
  bottom: 0;
  position: absolute;
  text-align: left;
  border-radius: 0px 0px 24px 24px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.53) 100%);
}
.slideshow__card__text p, .slideshow__card__text span {
  margin-left: 27.5px;
}
.slideshow__card__text p {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-top: 84px;
  margin-bottom: 1.2px;
}
.slideshow__card__text span {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
.slideshow__card:hover {
  filter: brightness(110%);
  transform: scale(1.01);
}

.slide {
  width: 659.43px;
  height: 630.8px;
  text-align: start;
}
.slide__photo {
  height: 415px;
  width: 100%;
  margin-bottom: 54px;
  overflow: hidden;
}
.slide__photo img {
  width: 100%;
  height: 100%;
}
.slide p {
  font-weight: 300;
  font-size: 16px;
  color: #c9c5bb;
  margin: 0;
}

.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.showcase {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 276.5px;
  text-align: left;
  background-color: #131313;
  position: relative;
  background-image: url(../assets/showcase/circleleft.svg), url(../assets/showcase/circleright.svg);
  background-position: bottom -329px left -180px, top 200px right 144px;
  background-size: auto 806px, auto 944px;
  background-repeat: no-repeat;
}
.showcase__textblock {
  width: 734px;
  margin-top: 156px;
  margin-left: 124px;
  z-index: 1;
}
.showcase__textblock__statrack {
  display: flex;
}
.showcase__textblock__statrack__stat {
  margin-right: 66px;
}
.showcase__textblock__statrack__stat__number {
  display: flex;
  width: 200px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 65px;
  color: #f1a501;
}
.showcase__textblock__statrack__stat__text {
  font-family: Poppins;
  font-size: 20px;
  text-align: left;
  color: #fff;
}
.showcase__textblock__statrack__stat__button {
  width: 48px;
  height: 48px;
  background: linear-gradient(to right, #161fe4 0%, #bb14e2 100%);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase__textblock__statrack__stat__button__icon {
  height: 20px;
  color: white;
}
.showcase__textblock__statrack__stat__button:hover {
  background: linear-gradient(to right, #4048ed 0%, #cc3bee 100%);
}
.showcase__textblock__loremIpsum {
  font-size: 18px;
  text-align: left;
  color: white;
  opacity: 0.71;
  margin-top: 64px;
}
.showcase__textblock__buttonJob {
  width: 228.05px;
  height: 59px;
  border-radius: 29.5px;
  background: transparent;
  border: 1px solid #d1d1d1;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
}
.showcase__textblock__buttonSignUp {
  width: 228.05px;
  height: 59px;
  border-radius: 29.5px;
  background: linear-gradient(to left, #161fe4 0%, #bb14e2 100%);
  border: none;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
  margin-left: 19px;
}
.showcase__textblock__buttonSignUp:hover {
  background: linear-gradient(to left, #4048ed 0%, #cc3bee 100%);
}
.showcase__img {
  position: absolute;
  animation: wave 7s infinite linear;
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero {
  margin-top: 127px;
  position: relative;
}
.hero__textblock {
  width: 916px;
  height: 670.54px;
  position: relative;
}
.hero__textblock__img {
  position: absolute;
}
.hero__textblock__loremIpsum {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -1px;
  opacity: 25%;
}
.hero__textblock__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 96.68px;
  margin-bottom: 40px;
  position: relative;
}
.hero__textblock__form__text {
  font-size: 25px;
  font-weight: 600;
  padding-left: 95px;
  opacity: 55%;
  width: 500px;
  border-radius: 57px;
  border: solid 3px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to left, #676ce6 0%, #d3a2ef 16.88%, #f3da33 60.26%, #f57059 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.hero__textblock__form img {
  position: absolute;
  bottom: 37.3px;
  left: 32.9px;
}
.hero__textblock__form__submit {
  font-size: 25px;
  font-weight: 600;
  width: 249px;
  border-radius: 57px;
  color: white;
  border: none;
  background: linear-gradient(to left, #5930ef 0%, #8a6cfa 100%);
  box-shadow: 15px 15px 50px rgba(89, 48, 239, 0.05);
}
.hero__textblock__buttonbar {
  display: flex;
  flex-direction: row;
}
.hero__textblock__buttonbar__button {
  font-size: 17px;
  position: relative;
  width: 198px;
  height: 60px;
  margin-right: 25px;
  padding-left: 23px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #ececec;
}
.hero__textblock__buttonbar__button::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8A6CFA;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.hero__textblock__buttonbar__skipholder {
  width: 79px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
}
.hero__textblock__buttonbar__skipholder__skip {
  width: 54px;
  height: 60px;
  background-color: #1E1E1E;
  border: 1px solid #ECECEC;
  border-radius: 11px;
}
.hero__textblock__buttonbar__skipholder__skip__icon {
  color: white;
  height: 13px;
}
.hero__img {
  position: absolute;
  animation: wave 7s infinite linear;
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.discovery {
  height: 1100px;
  width: 100%;
  margin-top: 101.7px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.discovery__textblock {
  width: 661px;
  height: 676.84px;
  margin-right: 149px;
  text-align: start;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.discovery__textblock.visible {
  transform: translateX(0);
}
.discovery__textblock__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  opacity: 0;
}
.discovery__textblock__list__item__text {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  margin: 0 0 0 21.3px;
}
.discovery__textblock__list__item.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.discovery__textblock__list__item:nth-child(1) {
  transition-delay: 0.5s;
}
.discovery__textblock__list__item:nth-child(2) {
  transition-delay: 1s;
}
.discovery__textblock__list__item:nth-child(3) {
  transition-delay: 1.5s;
}
.discovery__textblock__list__item:nth-child(4) {
  transition-delay: 2s;
}
.discovery__textblock__list__item:nth-child(5) {
  transition-delay: 2.5s;
}
.discovery__textblock button {
  font-weight: 500;
  font-size: 23px;
  width: 295px;
  height: 80px;
  border-radius: 40px;
  color: white;
  border: none;
  background: linear-gradient(to left, #161fe4 0%, #bb14e2 100%);
}
.discovery__textblock button:hover {
  background: linear-gradient(to left, #4048ed 0%, #cc3bee 100%);
}
.discovery__img {
  height: fit-content;
  margin-left: 51.5px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.discovery__img.visible {
  transform: translateX(0);
}

.discovery2 {
  height: 939px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.discovery2__textblock {
  text-align: start;
  margin-left: 122px;
  width: 40%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.discovery2__textblock span {
  color: rgba(0, 0, 0, 0.85);
}
.discovery2__textblock h3 {
  margin-top: 12px;
  margin-bottom: 23px;
}
.discovery2__textblock p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 54px;
}
.discovery2__textblock button {
  font-weight: 500;
  font-size: 23px;
  width: 295px;
  height: 80px;
  border-radius: 40px;
  color: white;
  border: none;
  background: linear-gradient(to left, #161fe4 0%, #bb14e2 100%);
}
.discovery2__textblock button:hover {
  background: linear-gradient(to left, #4048ed 0%, #cc3bee 100%);
}
.discovery2__textblock.visible {
  transform: translateX(0);
}
.discovery2__placeholder {
  width: 50%;
  position: absolute;
  right: -140px;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.discovery2__placeholder__source {
  width: 867px;
  height: 683px;
  border-radius: 30px 0px 0px 30px;
}
.discovery2__placeholder__button {
  position: absolute;
  left: 40%;
  top: 40%;
  background: none;
  border: none;
}
.discovery2__placeholder__horizontaldot {
  position: absolute;
  bottom: -128px;
  left: 150px;
  z-index: -1;
}
.discovery2__placeholder__verticaldot {
  left: -121px;
  top: 172px;
  position: absolute;
  z-index: -1;
}
.discovery2__placeholder.visible {
  transform: translateX(0);
}

.opportunity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 137px;
}
.opportunity__textblock {
  width: 40%;
  margin-bottom: 79px;
}
.opportunity__textblock span {
  opacity: 0;
}
.opportunity__textblock span.visible {
  opacity: 1;
  transition: opacity 1s 0.5s ease-out;
}
.opportunity__textblock h3 {
  margin-top: 0;
  margin-bottom: 20px;
  opacity: 0;
}
.opportunity__textblock h3.visible {
  opacity: 1;
  transition: opacity 1s 1s ease-out;
}
.opportunity__textblock p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 0;
  opacity: 0;
}
.opportunity__textblock p.visible {
  opacity: 1;
  transition: opacity 1s 1.5s ease-out;
}
.opportunity__buttonbar {
  width: 127px;
  margin-bottom: 51.5px;
  display: flex;
  justify-content: space-between;
}
.opportunity__buttonbar__button {
  rotate: 90deg;
  cursor: pointer;
}
.opportunity__navigate {
  width: 680px;
  height: 49px;
  margin-bottom: 46.5px;
}
.opportunity__navigate__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  border-bottom: #D2D2D2 solid 1.5px;
}
.opportunity__navigate__list__button {
  list-style: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  color: #cdcdcd;
  padding-bottom: 21px;
  cursor: pointer;
}
.opportunity__navigate__list .active {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  border-bottom: solid #000 2.5px;
  margin-bottom: -1.75px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 418px;
  margin-bottom: 105px;
  background-image: url("../assets/banner/vecteezy_business-people-meeting-conference-discussion-corporate_3500343_533.png");
  background-position: center;
  position: relative;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(136, 70, 151, 0.87) 0%, rgba(130, 100, 34, 0.87) 100%);
  opacity: 0.87;
}
.banner__section {
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 88%;
  height: 238px;
}
.banner__section p {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  opacity: 0.84;
  margin: 0;
}
.banner__section h4 {
  margin: 0 0 14.7px 0;
}
.banner__section div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner__section__scrolling {
  height: 100%;
  width: 387px;
  transform: translateX(-150%);
  transition: transform 0.5s ease-out;
}
.banner__section__scrolling img {
  height: 64px;
  width: 64px;
}
.banner__section__scrolling.visible {
  transform: translateX(0);
}
.banner__section__quality {
  height: 100%;
  width: 398px;
  opacity: 0;
}
.banner__section__quality img {
  height: 64px;
  width: 64px;
}
.banner__section__quality.visible {
  opacity: 1;
  transition: opacity 1s 0.5s ease-out;
}
.banner__section__description {
  height: 100%;
  width: 417px;
  transform: translateX(150%);
  transition: transform 0.5s ease-out;
}
.banner__section__description img {
  height: 54px;
  width: 54px;
}
.banner__section__description.visible {
  transform: translateX(0);
}

.easyfast {
  width: 100%;
  height: 927px;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 148px;
}
.easyfast__textblock {
  margin-left: 141.5px;
  width: 648px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.easyfast__textblock span {
  opacity: 0;
}
.easyfast__textblock span.visible {
  opacity: 1;
  transition: opacity 1s 0.5s ease-out;
}
.easyfast__textblock h3 {
  margin-top: 12px;
  margin-bottom: 101px;
  max-width: 513px;
  opacity: 0;
}
.easyfast__textblock h3.visible {
  opacity: 1;
  transition: opacity 1s 1s ease-out;
}
.easyfast__textblock img {
  width: 78px;
  height: 105px;
}
.easyfast__textblock h4 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  color: #5e6282;
}
.easyfast__textblock p {
  font-weight: 300;
  font-size: 23px;
  color: #5e6282;
  margin: 10px 0 0 0;
}
.easyfast__textblock button {
  font-weight: 500;
  font-size: 23px;
  width: 295px;
  height: 80px;
  border-radius: 40px;
  color: white;
  border: none;
  background: linear-gradient(to left, #161fe4 0%, #bb14e2 100%);
}
.easyfast__textblock button:hover {
  background: linear-gradient(to left, #4048ed 0%, #cc3bee 100%);
}
.easyfast__textblock__items__item {
  margin-bottom: 66px;
  display: flex;
  align-items: center;
  transform: translateX(-150%);
  transition: transform 0.5s ease-out;
}
.easyfast__textblock__items__item div {
  margin-left: 35px;
}
.easyfast__textblock__items__item.visible {
  transform: translateX(0);
}
.easyfast__textblock__items__item:nth-child(1) {
  transition-delay: 0.5s;
}
.easyfast__textblock__items__item:nth-child(2) {
  transition-delay: 1s;
}
.easyfast__textblock__items__item:nth-child(3) {
  transition-delay: 1.5s;
}
.easyfast__textblock__items.visible {
  transform: translateX(0);
}
.easyfast__textblock.visible {
  transform: translateX(0);
}
.easyfast__img {
  position: relative;
  height: 1048px;
  width: auto;
  top: -120px;
  right: 119px;
  transform: translateX(150%);
  transition: transform 0.5s ease-out;
}
.easyfast__img.visible {
  transform: translateX(0);
}

.newletter {
  margin-top: 148.3px;
  width: 87.71%;
  height: 676.15px;
  position: relative;
}
.newletter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 456px;
  background-color: #FFFDF3;
  border-radius: 45px;
}
.newletter__container__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  width: 80%;
  height: 323px;
}
.newletter__container__textbox span {
  opacity: 0.85;
}
.newletter__container__textbox h3 {
  margin: 0;
}
.newletter__container__textbox p {
  width: 50%;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 0.65;
}
.newletter__container__textbox form {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 80px;
}
.newletter__container__textbox__textinput {
  padding-left: 40px;
  width: 100%;
  border-radius: 58px;
  border: none;
  font-weight: normal;
  font-size: 23px;
}
.newletter__container__textbox__textinput::placeholder {
  color: #e1e1e1;
}
.newletter__container__textbox__submitinput {
  background-color: #F3DA33;
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 23px;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 243px;
  border-radius: 58px;
  border: none;
}
.newletter__container__textbox__submitinput:hover {
  background-color: #f6e363;
}
.newletter__topprop {
  position: absolute;
  top: -15%;
  left: 0;
  z-index: -1;
  transform: translateX(500%);
  transition: transform 0.5s ease-out;
}
.newletter__topprop.visible {
  transform: translateX(0);
}
.newletter__bottomprop {
  position: absolute;
  bottom: 15%;
  right: 15px;
  z-index: -1;
  transform: translateX(-500%);
  transition: transform 0.5s ease-out;
}
.newletter__bottomprop.visible {
  transform: translateX(0);
}

.blog {
  width: 100%;
  height: 1067px;
}
.blog h3 {
  margin: 0 0 85.5px 0;
}
.blog__button {
  margin-top: 85.2px;
  font-weight: 500;
  font-size: 19px;
  color: #000;
  width: 260.05px;
  height: 59px;
  border-radius: 29.5px;
  background: transparent;
  border: 1px solid #e1e1e1;
}

/*# sourceMappingURL=main.css.map */
