@mixin container-fixing{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin levitation {
        @keyframes wave {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    }
    animation: wave 7s infinite linear;
}