.showcase{
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 276.5px;
    text-align: left;
    background-color:#131313;
    position: relative;
    background-image: url(../assets/showcase/circleleft.svg), url(../assets/showcase/circleright.svg);
    background-position: bottom -329px left -180px,top 200px right 144px ;
    background-size: auto 806px, auto 944px;
    background-repeat: no-repeat;
    &__textblock{
        width: 734px;
        margin-top: 156px;
        margin-left: 124px;
        z-index: 1;
        &__statrack{
            display: flex;
            &__stat{
                margin-right: 66px;
                &__number{
                display: flex;
                width: 200px;
                font-family: Rubik;
                font-weight: 500;
                font-size: 65px;
                color: #f1a501;
                }
                &__text{
                    font-family: Poppins;
                    font-size: 20px;
                    text-align: left;
                    color: #fff;
                }
                &__button{
                    width: 48px;
                    height: 48px;
                    background: linear-gradient(to right,#161fe4 0%, #bb14e2 100%);
                    border: none;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__icon{
                        height: 20px;
                        color: white;
                    }
                    &:hover{
                        background: linear-gradient(to right, lighten(#161fe4, 10%) 0%, lighten(#bb14e2, 10%) 100%);
                    }
                }
            }
        }
        &__loremIpsum{
            font-size: 18px;
            text-align: left;
            color: white;
            opacity: 0.71;
            margin-top: 64px;
        }
        &__buttonJob{
            width: 228.05px;
            height: 59px;
            border-radius: 29.5px;
            background: transparent;
            border: 1px solid #d1d1d1;
            font-weight: 500;
            font-size: 19px;
            color: #fff;
        }
        &__buttonSignUp{
            width: 228.05px;
            height: 59px;
            border-radius: 29.5px;
            background: linear-gradient(to left,#161fe4 0%, #bb14e2 100%);
            border: none;
            font-weight: 500;
            font-size: 19px;
            color: #fff;
            margin-left: 19px;
            &:hover{
                background: linear-gradient(to left, lighten(#161fe4, 10%) 0%, lighten(#bb14e2, 10%) 100%);
            }
        }
    }
    &__img{
        position: absolute;
        @include levitation;
    }
}